/*body {*/
/*    background-color: red !important;*/
/*}*/

#facebook-album-downloader {
    background-color: red !important;
    position:fixed;
    z-index:1000;
    bottom: 10px;
    left: 10px;
    width: 80px;
    height: 80px
}